################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Project_Chat/obj/Debug
/Project_Chat/bin/Debug
/Project_Chat/obj/Release
/packages/Newtonsoft.Json.13.0.1
